  @font-face {
    font-family: frutiger-roman;
    src: url("../fonts/frutiger/FTR.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: frutiger-bold;
    src: url("../fonts/frutiger/FTB.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: frutiger-black;
    src: url("../fonts/frutiger/FTUBL.ttf");
    font-display: swap;
  }

