.flex {
    display: flex;
    justify-content: space-between;
  }
  .scrollbar {
    margin-top: 10px;
    height: 740px;
    overflow-y: scroll;
    padding-top: 16px;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

    .scrollbar::-webkit-scrollbar {
        display: none;
    }


  .box {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 20px #1785c61a;
    border-radius: 20px;
    opacity: 1;
    padding: 31px 40px 0px 40px;
    height: 844px;
    overflow-y: scroll;
  }
  
  .icons {
    margin-right: 10px;
    cursor: pointer;
  
    &:last-child {
      margin-right: 0px;
    }
  }
  
  button[type='button'] {
    display: inline-flex;
    border: none;
    background: #f6f8fd 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 50px;
    width: 50px;
  }
  
