.chart-box {
    height: 323px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    padding: 30px

}
.canvasjs-chart-credit {
    display: none;
}
.canvasjs-chart-canvas {
    border-radius: 20px;
    height: 323px; 
}