// romoan-<font-size> = frutiger-roman 
// black-<font-size> = frutiger-black
// bold-<font-size> = frutiger-bold


.font-roman-1 {
    font-size: 1px;
    font-family: frutiger-roman;
}
.font-black-1 {
    font-size: 1px;
    font-family: frutiger;
    
}
.font-bold-1 {
    font-size: 1px;
    font-family: frutiger-bold;
}


.font-roman-12 {
    font-size: 12px;
    font-family: frutiger-roman;
}
.font-black-12 {
    font-size: 12px;
    font-family: frutiger;
}
.font-bold-12 {
    font-size: 12px;
    font-family: frutiger-bold;
}



.font-roman-14 {
    font-size: 14px;
    font-family: frutiger-roman;
}
.font-black-14 {
    font-size: 14px;
    font-family: frutiger;
}
.font-bold-14 {
    font-size: 14px;
    font-family: frutiger-bold;
}



.font-roman-16 {
    font-size: 16px;
    font-family: frutiger-roman;
}
.font-black-16 {
    font-size: 16px;
    font-family: frutiger;
}
.font-bold-16 {
    font-size: 16px;
    font-family: frutiger-bold;
}



.font-roman-19 {
    font-size: 19px;
    font-family: frutiger-roman;
}
.font-black-19 {
    font-size: 19px;
    font-family: frutiger;
}
.font-bold-19 {
    font-size: 19px;
    font-family: frutiger-bold;
}


.font-roman-20 {
    font-size: 20px;
    font-family: frutiger-roman;
}
.font-black-20 {
    font-size: 20px;
    font-family: frutiger;
}
.font-bold-20 {
    font-size: 20px;
    font-family: frutiger-bold;
}


.font-roman-24 {
    font-size: 24px;
    font-family: frutiger-roman;
}
.font-black-24 {
    font-size: 24px;
}
.font-bold-24 {
    font-size: 24px;
    font-family: frutiger-bold;
}


.font-roman-26 {
    font-size: 26px;
    font-family: frutiger-roman;
}
.font-black-26 {
    font-size: 26px;
}
.font-bold-26 {
    font-size: 26px;
    font-family: frutiger-bold;
}


.font-roman-27 {
    font-size: 27px;
    font-family: frutiger-roman;
}
.font-black-27 {
    font-size: 27px;
}
.font-bold-27 {
    font-size: 27px;
    font-family: frutiger-bold;
}


.font-roman-38 {
    font-size: 38px;
    font-family: frutiger-roman;
}
.font-black-38 {
    font-size: 38px;
}
.font-bold-38 {
    font-size: 38px;
    font-family: frutiger-bold;
}


.font-roman-40 {
    font-size: 40px;
    font-family: frutiger-roman;
}
.font-black-40 {
    font-size: 40px;
}
.font-bold-40 {
    font-size: 40px;
    font-family: frutiger-bold;
}



